<ion-view view-title="Create Event">

    <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon" ui-sref="events"><i class="icon ion-android-close"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-tabs class="tabs-icon-top tabs-top tabs-positive">

        <ion-tab title="Info" icon="{{ vm.infoForm.$valid ? 'ion-ios-checkmark' : 'ion-ios-circle-outline' }}">

            <ion-view>
                <ion-content padding="false">
                    <form name="vm.infoForm" novalidate ng-submit="">

                        <div class="line-0">
                            <img src="assets/img/create-event-name.png" class="image-responsive"/>
                        </div>

                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">
                                    <b>Name</b> your event
                                </span>

                                <span class="form-errors" ng-show="vm.infoForm.$submitted || vm.infoForm.name.$touched" ng-messages="vm.infoForm.name.$error">
                                    <p class="error" ng-message="required">required</p>
                                </span>

                                <input type="text" name="name"
                                       ng-model="vm.event.name"
                                       ng-required="true"
                                       placeholder="For example: Birthday to Daniel">

                            </label>

                            <div class=" item item-no-padding">
                                <span class="item-title input-label">
                                    <b>So...</b> what would it be?

                                    <span class="form-errors" ng-show="vm.infoForm.$submitted" ng-messages="vm.infoForm.type.$error">
                                        <p class="error" ng-message="required">required</p>
                                    </span>
                                </span>


                                <event-type
                                        name="type"
                                        ng-required="true"
                                        ng-model="vm.event.type"></event-type>
                            </div>
                        </div>

                        <div>
                            <button type="submit" ng-click="vm.infoForm.$valid && vm.switchTab(1)"
                                    class="button button-block button-positive button-large button-rect"
                                    ng-class="{'button-outline' : vm.infoForm.$invalid}"
                                    >
                                Next: When? <i class="icon ion-ios-arrow-forward"></i>
                            </button>
                        </div>

                    </form>

                </ion-content>

                <ion-footer-bar class="bar-positive">
                    <div class="buttons">
                        <h1 class="title"></h1>

                        <button type="submit" ng-click="vm.switchTab(1)"
                                class="button button-clear"
                                ng-class="{'button-outline' : vm.infoForm.$invalid}"
                                >
                            Next: When? <i class="icon ion-ios-arrow-forward"></i>
                        </button>
                    </div>
                </ion-footer-bar>

            </ion-view>

        </ion-tab>

        <ion-tab title="When?" icon="{{ vm.whenForm.$valid ? 'ion-ios-checkmark' : 'ion-ios-circle-outline' }}">

            <ion-view>
                <ion-content padding="false">
                    <form name="vm.whenForm" novalidate ng-submit="">

                        <div class="line-0">
                            <img src="assets/img/create-event-when.png" class="image-responsive"/>
                        </div>

                        <div class="list">

                            <div class="item item-toggle">

                                <b>Have a date?</b>

                                <label class="toggle toggle-positive">
                                    <input type="checkbox" ng-model="vm.haveDate">

                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>

                            </div>

                            <div ng-show="vm.haveDate" class="item text-center">

                                <date-picker ng-model="newDate" ng-required="vm.haveDate" ng-change="vm.addDate(newDate)">
                                    <button class="button button-positive" ng-click="showDatePicker()"
                                            ng-class="{'button-outline':!vm.hasDates()}">
                                        <span ng-hide="vm.hasDates()">Click to set date</span>
                                        <span ng-show="vm.hasDates()">Add another date</span>
                                    </button>

                                    <p ng-hide="vm.hasDates()" class="text-center">
                                        Please pick a date
                                    </p>

                                    <p ng-show="vm.hasDates()" class="text-center">
                                        <b>Great!</b> you can add more dates
                                    </p>

                                </date-picker>
                            </div>


                            <div class="item item-icon-right" ng-repeat="(epoch, date) in vm.dates">
                                {{epoch | date:'dd/MM/yyyy hh:mm'}}

                                <i class="icon ion-android-delete assertive" ng-click="vm.removeDate(epoch)"></i>

                            </div>

                        </div>
                    </form>

                </ion-content>

                <ion-footer-bar align-title="left" class="bar-positive">
                    <div class="buttons">
                        <button type="submit" ng-click="vm.switchTab(0)"
                                class="button button-clear"
                                ng-class="{'button-outline' : vm.whenForm.$invalid}"
                                >
                            <i class="icon ion-ios-arrow-back"></i> Back: Info
                        </button>
                    </div>
                    <h1 class="title"></h1>

                    <div class="buttons">
                        <button type="submit" ng-click="vm.switchTab(2)"
                                class="button button-clear"
                                ng-class="{'button-outline' : vm.whenForm.$invalid}"
                                >
                            Next: Where? <i class="icon ion-ios-arrow-forward"></i>
                        </button>
                    </div>
                </ion-footer-bar>

            </ion-view>

        </ion-tab>


        <ion-tab title="Where?" icon="{{ vm.whereForm.$valid ? 'ion-ios-checkmark' : 'ion-ios-circle-outline' }}">

            <ion-view>
                <ion-content padding="false">
                    <form name="vm.whereForm" novalidate ng-submit="">

                        <div class="line-0">
                            <img src="assets/img/create-event-where.png" class="image-responsive"/>
                        </div>

                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">
                                    <b>Name</b> your event
                                </span>

                                <span class="form-errors" ng-show="vm.whereForm.$submitted || vm.whereForm.name.$touched" ng-messages="vm.whereForm.name.$error">
                                    <p class="error" ng-message="required">required</p>
                                </span>

                                <input type="text" name="name"
                                       ng-model="vm.event.name"
                                       ng-required="true"
                                       placeholder="For example: Birthday to Daniel">

                            </label>

                        </div>

                        <div>
                            <button type="submit" ng-click="vm.whereForm.$valid && vm.switchTab(3)"
                                    class="button button-block button-positive button-large button-rect"
                                    ng-class="{'button-outline' : vm.whereForm.$invalid}"
                                    >
                                Next: Who? <i class="icon ion-ios-arrow-forward"></i>
                            </button>
                        </div>

                    </form>

                </ion-content>
            </ion-view>

        </ion-tab>


        <ion-tab title="Who?" icon="{{ vm.whoForm.$valid ? 'ion-ios-checkmark' : 'ion-ios-circle-outline' }}">

            <ion-view>
                <ion-content padding="false">
                    <form name="vm.whoForm" novalidate ng-submit="">

                        <div class="line-0">
                            <img src="assets/img/create-event-who.png" class="image-responsive"/>
                        </div>



                        <div class="list">

                            <div class="item text-center">

                                <button class="button button-positive" ng-click="vm.pickFriend()"
                                        ng-class="{'button-outline':!vm.hasFriends()}">Click to add a friend
                                </button>

                            </div>


                            <div class="item item-icon-right" ng-repeat="(key, info) in vm.friends">

                                {{info.name}}

                                <i class="icon ion-android-delete assertive" ng-click="vm.removeFriend(key)"></i>

                            </div>

                        </div>

                        <div>
                            <button type="submit" ng-click="vm.whoForm.$valid && vm.switchTab(4)"
                                    class="button button-block button-positive button-large button-rect"
                                    ng-class="{'button-outline' : vm.whoForm.$invalid}"
                                    >
                                Next: What? <i class="icon ion-ios-arrow-forward"></i>
                            </button>
                        </div>

                    </form>

                </ion-content>
            </ion-view>

        </ion-tab>


        <ion-tab title="What?" icon="{{ vm.whatForm.$valid ? 'ion-ios-checkmark' : 'ion-ios-circle-outline' }}">

            <ion-view>
                <ion-content padding="false">
                    <form name="vm.whatForm" novalidate ng-submit="">

                        <div class="line-0">
                            <img src="assets/img/create-event-what.png" class="image-responsive"/>
                        </div>

                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">
                                    <b>Name</b> your event
                                </span>

                                <span class="form-errors" ng-show="vm.whatForm.$submitted || vm.whatForm.name.$touched" ng-messages="vm.whatForm.name.$error">
                                    <p class="error" ng-message="required">required</p>
                                </span>

                                <input type="text" name="name"
                                       ng-model="vm.event.name"
                                       ng-required="true"
                                       placeholder="For example: Birthday to Daniel">

                            </label>

                        </div>

                        <div>
                            <button type="submit" ng-click="vm.whatForm.$valid && vm.createEvent()"
                                    class="button button-block button-positive button-large button-rect"
                                    ng-class="{'button-outline' : vm.whatForm.$invalid}"
                                    >
                                Finished, Create Event
                            </button>
                        </div>

                    </form>

                </ion-content>
            </ion-view>

        </ion-tab>

    </ion-tabs>
</ion-view>

