<ion-view view-title="{{vm.event.name}}">

    <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">

        <ion-nav-buttons side="left">
            <button class="button button-icon" ui-sref="events"><i class="icon ion-android-arrow-back"></i></button>

        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon"
                    ng-show="vm.event.isAdmin"
                    ng-init="vm.isEditable=false"
                    ng-click="vm.isEditable = !vm.isEditable">
                    <i class="icon" ng-class="vm.isEditable ? 'ion-android-done' : 'ion-edit'"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-tabs class="tabs-positive tabs-icon-only">

        <ion-tab title="Info" icon="ion-happy-outline">

            <ion-view>
                <ion-content padding="false">


                    <div class="event-image">
                        <img src="http://lorempixel.com/800/380/">

                        <div class="title-wrapper">
                            <h3 class="title">{{vm.event.name}}</h3>

                        </div>
                    </div>

                    <div class="item">
                        <!--TODO: ON CLICK, OPEN THE DATES EXPAND IF DATE HAVEN'T CHOSEN? -->
                        <!--TODO: ON CLICK, DB UPDATE: APPROVED/IF MORE THEN ONE DATE CHOSEN - SOLVE -->
                        <button ng-click="isDateListShown=true"
                                class="button button-block button-positive button-rect"> Join!
                        </button>
                    </div>

                    <div ng-click="vm.scrollWorkaround()">

                        <!-- - - - - - - - - - - - - - - - - - - - - - -->
                        <!-- Dates -->

                        <div class="item item-divider"
                             ng-switch="vm.event.dates.length"
                             ng-class="{active: isDateListShown}"
                             ng-click="(vm.event.dates.length > 1) && (isDateListShown = !isDateListShown)">
                            <i class="icon" ng-show="vm.event.dates.length > 1" ng-class="isDateListShown ? 'ion-minus' : 'ion-plus'"></i>
                            &nbsp;

                            <!--TODO: DISPLAY DATE IF CHOSEN, ELSE DISPLAY AN "HAVEN'T CHOSEN YET" MESSAGE -->
                            <!--TODO: CLICK ON MESSAGE IS EXPANDING INSTEAD PLUS -->

                            Date:
                            <span ng-switch-when="1"> {{ vm.event.dates[0] | date }}</span>
                            <span ng-switch-default> Click to vote!</span>

                        </div>


                        <div show-delete="vm.isEditable"  ng-show="isDateListShown">
                            <div ng-repeat="date in vm.event.dates">
                                <div class="item-remove-animate item item-icon-right item item-icon-left {{participant.user.nickname}}">
                                    <div class="icon">

                                    <i class="ion-minus-circled" ng-show="vm.isEditable" ng-click="vm.showOnCalendar(date)"></i>
                                    <i class="ion-android-calendar" ng-click="vm.showOnCalendar(date)"></i>
                                    </div>

                                    {{date | date}} {{osnat}}
                                    <i class="icon">
                                        <label class="toggle toggle-positive">
                                            <input type="checkbox" ng-model="osnat">

                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                        </label>
                                    </i>
                                </div>
                                <div class="item-left-edit item-delete enable-pointer-events visible active">
                                    <a class="ion-minus-circled button icon button-icon">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- - - - - - - - - - - - - - - - - - - - - - -->
                        <!-- Location -->

                        <div class="item item-divider item-icon-left item-icon-right item-input"
                             ng-class="{active: isLocationListShown}"
                             ng-click="isLocationListShown = !isLocationListShown;">
                            <i  ng-class="isLocationListShown ? 'ion-minus' : 'ion-plus'"></i>

                            &nbsp;
                            Location: {{vm.event.location.address}}

                            <!--TODO: JOSS, THIS IS ALWAYS CLASS=ION-EDIT!!! SEE BOTH PRINTING: isLocationCahnged IS FALSE! MAYBE INHETIANCE?..-->
                            <i ng-show="vm.isEditable"ng-init="isLocationCahnged=false"
                               ng-class="isLocationCahnged ? 'ion-plus' : 'icon ion-edit'"
                               ></i>
                        </div>

                        <div class="item" ng-if="isLocationListShown">

                            <!--TODO: DELETE-->{{isLocationCahnged}}
                            <div class="list list-insert" ng-show="vm.isEditable">
                                <label class="item item-input">
                                    <i class="icon ion-search placeholder-icon"></i>
                                    <!--TODO: DELETE-->{{isLocationCahnged}}
                                    <ion-google-place placeholder="Enter an new address to change your location"
                                                      ng-model="vm.selectedLocation"
                                                      ng-change="isLocationCahnged=true"
                                                      ></ion-google-place>
                                </label>
                            </div>

                            <ui-gmap-google-map options="vm.mapOptions" center="vm.mapCenter" zoom="vm.mapZoom">
                                <ui-gmap-marker coords="vm.mapMarker.location" idkey="0"></ui-gmap-marker>
                            </ui-gmap-google-map>


                            <!--TODO: MOVE OUT OF LOCATION DIV -->
                            <button ng-click="vm.navigate()"
                                    class="button button-block button-positive button-rect"><i class="icon ion-navigate"></i> Take me there!
                            </button>

                        </div>


                        <!-- - - - - - - - - - - - - - - - - - - - - - -->
                        <!-- Participants -->

                        <div class="item item-divider"
                             ng-class="{active: isWhoListShown}"
                             ng-click="isWhoListShown = !isWhoListShown;"
                             ng-switch="vm.event.participants.length">
                            <i class="icon" ng-class="isWhoListShown ? 'ion-minus' : 'ion-plus'"></i>
                            &nbsp;

                            <!--TODO: DISPLAY NUMBER OF JOINED FRIENDS, ELSE DISPLAY AN "HAVEN'T JOINED YET" MESSAGE -->
                            <!--TODO: CLICK ON NUMBER\ICON IS EXPANDING INSTEAD PLUS -->
                            <span ng-switch-when="0"> There are no participants yet</span>
                            <span ng-switch-when="1"> 1 participant</span>
                            <span ng-switch-default> {{vm.event.participants.length}} participants!</span>

                        </div>


                        <div ng-show="isWhoListShown">

                            <div class="item item-icon-left item-icon-right"
                                 ng-repeat="participant in vm.event.participants">
                                <i class="icon ion-minus-circled" ng-show="vm.isEditable" ng-click="vm.showOnCalendar(date)"></i>

                                {{participant.user.nickname}}

                                <button class="icon button button-positive">
                                    <i class="ion-ios-telephone"></i>
                                </button>
                            </div>

                            <!--TODO: ADD CLICK TO CALL ICON -->

                            <div class="list">
                                <div class="item item-input-inset">

                                    <label class="item-input-wrapper">

                                        <input type="text" name="name"
                                               ng-focus="vm.pickFriend()"
                                               placeholder="Click to pick a friend">
                                        <!--ng-model="product"
                                           ng-enter="vm.addProduct(product); product=''"-->


                                    </label>
                                    <button class="button button-clear button-large button-positive" ng-click="vm.addProduct(product); product=''">
                                        Add
                                    </button>


                                </div>
                            </div>
                        </div>

                        <!-- - - - - - - - - - - - - - - - - - - - - - -->
                        <!-- Products -->

                        <div ng-show="vm.event.products.length">

                            <div class="item item-divider"
                                 ng-class="{active: isCartListShown}"
                                 ng-click="isCartListShown = !isCartListShown;">
                                <i class="icon" ng-class="isCartListShown  ? 'ion-minus' : 'ion-plus'"></i>
                                &nbsp;

                                <!--TODO: DISPLAY MESSAGE: "ALL PRODUCTS HAVE VOLUNTEERS!", ELSE DISPLAY AN "THERE ARE STILL PRODUCTS YOU CAN BRING!" MESSAGE -->
                                <!--TODO: CLICK ON NUMBER\ICON IS EXPANDING INSTEAD PLUS -->
                                Cart
                            </div>

                            <div ng-show="isCartListShown">

                                <!--TODO: ADD CLICK TO CALL ICON -->
                                <div class="item item-button-right"
                                     ng-repeat="product in vm.event.products">

                                    {{product.name}}

                                    <button class="button button-positive">
                                        <i class="ion-ios-telephone"></i>
                                    </button>

                                </div>

                                <div class="list">
                                    <div class="item item-input-inset">

                                        <label class="item-input-wrapper">

                                            <input type="text" name="name"
                                                   placeholder="Enter Product Name ">
                                            <!--ng-model="product"
                                            ng-enter="vm.addProduct(product); product=''"-->


                                        </label>
                                        <button class="button button-clear button-large button-positive" ng-click="vm.addProduct(product); product=''">
                                            Add
                                        </button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </ion-content>
            </ion-view>

        </ion-tab>

        <ion-tab title="Chat" on-select="vm.onChatSelected()" icon="ion-android-chat">

            <ion-content class="pane-chat content-stable" delegate-handle="chatScroll">

                <div class=" pane-chat-body">

                    <div class="message-list">

                        <div ng-repeat="message in vm.messages" class="msg msg-group">

                            <div class="message"
                                 ng-init="me = message.user.id == vm.user.id"
                                 ng-class="me ? 'message-out' : 'message-in'">

                                <div class="bubble bubble-text">

                                    <!-- TODO get random color method -->
                                    <div ng-hide="me" class="message-author">⁠⁠⁠
                                        <span class="content"> {{ message.user.name }}</span>
                                    </div>

                                    <div class="message-text">
                                        <span class="message-content" dir="auto">{{ message.message }}</span>
                                    </div>

                                </div>
                                <div class="message-meta">{{ message.timestamp | date:'h:mm a' }}</div>
                            </div>

                        </div>

                    </div>

                </div>
            </ion-content>

            <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Type your message"
                           ng-enter="vm.sendMessage(chatMessage); chatMessage = ''; closeKeyboard()"
                           ng-model="chatMessage"
                           on-focus="vm.onChatSelected()"
                           on-blur="vm.onChatSelected()"/>

                </label>
                <button class="button button-clear" ng-click="vm.sendMessage(chatMessage); chatMessage = '';">
                    Send
                </button>
            </ion-footer-bar>

        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">

            <ion-view>
                <ion-content padding="false">
                    <div class="list">

                        <ion-toggle ng-model="vm.approved" toggle-class="toggle-positive">Are you going?</ion-toggle>


                    </div>


                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
