<ion-view view-title="{{vm.event.name}}">

    <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">

        <ion-nav-buttons side="left">
            <button class="button button-icon" ui-sref="events"><i class="icon ion-android-arrow-back"></i></button>

        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon"
                    ng-show="vm.event.isAdmin"
                    ng-click="vm.editMode = !vm.editMode">
                <!--TODO: change edit & done icons to text -->
                <i class="icon" ng-class="vm.editMode ? 'ion-android-done' : 'ion-edit'"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-tabs class="tabs-positive tabs-icon-only">

        <ion-tab title="Info" icon="ion-beer">

            <ion-view>
                <ion-content padding="false">

                    <ion-refresher
                            pulling-text="Pull to refresh..."
                            on-refresh="vm.getEvent()">
                    </ion-refresher>


                    <div class="event-image">
                        <img ng-src="assets/img/event-types/{{vm.event.type}}-cover.jpg">

                        <div class="title-wrapper">
                            <h3 class="title">{{vm.event.name}} </h3>

                            <p class="info">
                                <span ng-show="vm.event.date">
                                    {{vm.event.date | date:'medium'}}
                                    <button class="button button-small padding-right padding-left  button-assertive "
                                            ng-show="vm.event.isAdmin && vm.editMode"
                                            ng-click="vm.setPrimaryDate(null)"><i class="icon ion-android-delete"></i> Clear Date
                                    </button>

                                </span>
                                <span ng-hide="vm.event.date">
                                    Planning date...
                                </span>

                            </p>

                            <div class="buttons">

                                <button class="button button-small padding-right padding-left button-light "
                                        ng-disabled="vm.editMode || !vm.event.date"
                                        ng-class="{'button-outline':vm.editMode}"
                                        ng-click="vm.showOnCalendar(vm.event.date)"><i class="icon ion-android-calendar"></i> Show in Calendar
                                </button>

                                <button class="button button-small padding-right padding-left button-light "
                                        ng-class="{'button-outline':vm.editMode}"
                                        ng-disabled="vm.editMode || !vm.event.location.address"
                                        ng-click="vm.navigate()"><i class="icon ion-navigate"></i> Navigate
                                </button>
                            </div>

                        </div>
                    </div>

                    <div ng-click="vm.scrollWorkaround()">
                    <div class="item">
                        <button ng-hide="vm.isJoined() + vm.event.isAdmin" ng-click="vm.join()"
                                class="button button-block button-positive"> Click to Join!
                        </button>
                    </div>

                        <!-- - - - - - - - - - - - - - - - - - - - - - -->
                        <!-- Dates -->

                        <div class="item item-icon-left"
                             ng-class="{active: vm.showDates}"
                             ng-click="vm.showDates = !vm.showDates">
                            <i class="icon ion-calendar"></i>

                            Date:
                            <span ng-show="vm.event.date"> {{ vm.event.date | date }}</span>
                            <span ng-hide="vm.event.date"> Click to vote </span>
                            <span class="badge badge-dark">{{vm.event.dates.length}}</span>

                        </div>


                        <div class="date-list" ng-show="vm.showDates">


                            <div ng-show="vm.editMode" class="item text-center">

                                <date-picker ng-model="newDate" ng-required="vm.haveDate" ng-change="vm.addDate(newDate)">
                                    <button class="button button-block button-positive" ng-click="showDatePicker()">
                                        <span ng-hide="vm.event.dates.length">Click to set date</span>
                                        <span ng-show="vm.event.dates.length">Add another date</span>
                                    </button>
                                </date-picker>
                            </div>


                            <div class="date" ng-repeat="date in vm.event.dates | orderBy:'toString()'">
                                <div class="item">


                                    <div class="title ">

                                        <i class="ion-calendar"></i> {{date | date:'dd/MM/yyyy'}}

                                        <i class="ion-clock"></i> {{date | date:'HH:mm'}}
                                    </div>


                                    <div class="subtitle text-center">
                                        <span>{{vm.dateParticipants[date].length || 0}} Approoved</span>
                                    </div>


                                    <div ng-hide="vm.editMode">

                                        <div class="row">

                                            <div class="col text-left">


                                                <button class="button button-medium button-block button-assertive   "
                                                        ng-class="{'button-outline': vm.dateConfirmed[date] }"
                                                        ng-click="vm.declineDate(date)">Nope
                                                </button>

                                            </div>
                                            <div class="col-10">

                                            </div>

                                            <div class="col text-right">
                                                <button class="button button-medium button-block button-positive "
                                                        ng-class="{'button-outline': !vm.dateConfirmed[date] }"
                                                        ng-click="vm.confirmDate(date)">Yes, i'm going
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="vm.editMode">

                                        <div class="row">

                                            <div class="col text-left">


                                                <button class="button button-medium button-block button-assertive   "
                                                        ng-click="vm.removeDate(date)"><i class="ion-android-delete"></i> Remove
                                                </button>

                                            </div>
                                            <div class="col-10">

                                            </div>

                                            <div class="col text-right">
                                                <button class="button button-medium button-block button-positive "
                                                        ng-class="{'button-outline': !(vm.event.date == date) }"
                                                        ng-click="vm.setPrimaryDate(date)">Set
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- - - - - - - - - - - - - - - - - - - - - - -->
                        <!-- Location -->

                        <div class="item item-icon-left "
                             ng-class="{active: vm.showLocation}"

                             ng-click="vm.showLocation = !vm.showLocation;">
                            <i class="icon ion-location"></i>

                            Location: {{vm.event.location.address}}
                        </div>

                        <div class="item" ng-if="vm.showLocation">

                            <div class="list list-insert" ng-show="vm.editMode">
                                <label class="item item-input">
                                    <i class="icon ion-search placeholder-icon"></i>
                                    <ion-google-place placeholder="Enter an new address to change your location"
                                                      ng-model="vm.selectedLocation"
                                            ></ion-google-place>
                                </label>
                            </div>

                            <ui-gmap-google-map options="vm.mapOptions" center="vm.mapCenter" zoom="vm.mapZoom">
                                <ui-gmap-marker coords="vm.mapMarker.location" idkey="0"></ui-gmap-marker>
                            </ui-gmap-google-map>


                        </div>


                        <!-- - - - - - - - - - - - - - - - - - - - - - -->
                        <!-- Participants -->

                        <div class="item item-icon-left"
                             ng-class="{active: vm.showParticipants}"
                             ng-click="vm.showParticipants = !vm.showParticipants;"
                             ng-switch="vm.event.participants.length">

                            <i class="icon ion-person-stalker"></i>

                            <!--TODO: DISPLAY NUMBER OF JOINED FRIENDS, ELSE DISPLAY AN "HAVEN'T JOINED YET" MESSAGE -->
                            <!--TODO: CLICK ON NUMBER\ICON IS EXPANDING INSTEAD PLUS -->
                            <span ng-switch-when="0"> There are no participants yet</span>
                            <span ng-switch-when="1"> 1 Participant</span>
                            <span ng-switch-default> {{vm.event.participants.length}} Participants</span>

                        </div>


                        <div ng-show="vm.showParticipants">


                            <div class="item text-center">

                                <button class="button button-positive button-block button-outline" ng-click="vm.addParticipant()">
                                    Click to add a friend
                                </button>

                            </div>

                            <div class="item item-icon-left item-icon-right"
                                 ng-repeat="participant in vm.event.participants">

                                <i class="icon ion-person"></i>


                                {{participant.user.nickname}}

                                <i class="icon ion-android-delete assertive"
                                   ng-click="vm.removeParticipant(participant)"
                                   ng-if="vm.editMode"></i>


                                <i class="icon ion-android-call "
                                   ng-click="vm.call(participant)"
                                   ng-if="!vm.editMode"></i>


                            </div>

                        </div>

                        <!-- - - - - - - - - - - - - - - - - - - - - - -->
                        <!-- Info -->

                        <div >

                            <div class="item item-icon-left "
                                 ng-class="{active: vm.showInfo}"
                                 ng-init="vm.showInfo = false;"
                                 ng-click="vm.showInfo = !vm.showInfo;">
                                <i class="icon ion-information-circled"></i>

                                Event Info
                            </div>

                            <div class="item" ng-show="vm.showInfo">

                                <h2>Organizer: <b>{{vm.event.organizer.nickname}}</b></h2>

                                <h2>Created at: <b>{{vm.event.created | date:'medium'}}</b></h2>

                                <h2>Participants: <b>{{vm.event.participants.length}}</b></h2>

                                <h2>Kosher eaters: <b>{{vm.kosherEaters}}</b></h2>

                                <h2>Vegetarians: <b>{{vm.vegetarians}}</b></h2>

                                <h2>Vegans: <b>{{vm.vegans}} {{vm.showDates}}</b></h2>

                            </div>
                        </div>

                    </div>

                </ion-content>
            </ion-view>

        </ion-tab>

        <ion-tab title="Chat" on-select="vm.onChatSelected()" icon="ion-android-chat">

            <ion-content class="pane-chat content-stable" delegate-handle="chatScroll">

                <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="vm.getEvent()">
                </ion-refresher>

                <div class=" pane-chat-body">

                    <div class="message-list">

                        <div ng-repeat="message in vm.messages" class="msg msg-group">

                            <div class="message"
                                 ng-init="me = message.user.id == vm.user.id"
                                 ng-class="me ? 'message-out' : 'message-in'">

                                <div class="bubble bubble-text">

                                    <!-- TODO get random color method -->
                                    <div ng-hide="me" class="message-author">⁠⁠⁠
                                        <span class="content"> {{ message.user.name }}</span>
                                    </div>

                                    <div class="message-text">
                                        <span class="message-content" dir="auto">{{ message.message }}</span>
                                    </div>

                                </div>
                                <div class="message-meta">{{ message.timestamp | date:'h:mm a' }}</div>
                            </div>

                        </div>

                    </div>

                </div>
            </ion-content>

            <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Type your message"
                           ng-enter="vm.sendMessage(chatMessage); chatMessage = ''; closeKeyboard()"
                           ng-model="chatMessage"
                           on-focus="vm.onChatSelected()"
                           on-blur="vm.onChatSelected()"/>

                </label>
                <button class="button button-clear" ng-click="vm.sendMessage(chatMessage); chatMessage = '';">
                    Send
                </button>
            </ion-footer-bar>

        </ion-tab>

        <ion-tab title="Products" icon="ion-clipboard">

            <ion-view>
                <ion-content padding="false">



                    <ion-refresher
                            pulling-text="Pull to refresh..."
                            on-refresh="vm.getEvent()">
                    </ion-refresher>

                    <div class="list">


                        <div class="item text-center">

                            <button class="button button-positive button-block button-outline" ng-click="vm.recommendProducts()">
                                Recommend Products
                            </button>


                        </div>


                        <div class="item item-icon-right"
                             ng-repeat="product in vm.recommendedProducts">

                            {{product}}

                            <i class="icon ion-android-add positive"
                               ng-click="vm.addProduct(product); vm.recommendedProducts.splice(index, 1);"></i>

                        </div>


                        <div class="item item-input-inset">

                            <label class="item-input-wrapper">

                                <input type="text" name="name"
                                       placeholder="Enter Product Name "
                                       ng-model="productName"
                                       ng-enter="vm.addProduct(productName); product=''">

                            </label>
                            <button class="button button-clear button-large button-positive" ng-click="vm.addProduct(productName); product=''">
                                Add
                            </button>

                        </div>

                        <div class="item item-icon-right"
                             ng-repeat="product in vm.event.products">

                            {{product.name}}

                            <i class="icon ion-android-delete assertive"
                               ng-click="vm.removeProduct(product)"
                                    ng-show="vm.editMode"></i>

                        </div>

                    </div>


                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
