<ion-view view-title="{{vm.event.name}}">

    <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">

        <ion-nav-buttons side="left">
            <button class="button button-icon" ui-sref="events"><i class="icon ion-android-arrow-back"></i></button>

        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon" ng-click="vm.popover.show($event)"><i class="icon ion-android-more-vertical"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-tabs class="tabs-positive tabs-icon-only">

        <ion-tab title="Info" icon="ion-happy-outline">

            <ion-view>
                <ion-content padding="false">


                    <div class="event-image">
                        <img src="http://lorempixel.com/800/380/">

                        <div class="title-wrapper">
                            <h3 class="title">{{vm.event.name}}</h3>

                        </div>
                    </div>

                    <div class="item">
                        <!--TODO: ON CLICK, OPEN THE DATES EXPAND IF DATE HAVEN'T CHOSEN? -->
                        <!--TODO: ON CLICK, DB UPDATE: APPROVED/IF MORE THEN ONE DATE CHOSEN - SOLVE -->
                        <button ng-click=""
                                class="button button-block button-positive button-rect"> Join!
                        </button>
                    </div>

                    <div menu-close class="item item-divider" ng-init="isDateListShowen=FALSE"
                         ng-class="{active: isDateListShowen}"
                         ng-click="isDateListShowen = !isDateListShowen">
                        <i class="icon" ng-class="isDateListShowen ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;

                        <!--TODO: DISPLAY DATE IF CHOSEN, ELSE DISPLAY AN "HAVEN'T CHOSEN YET" MESSAGE -->
                        <!--TODO: CLICK ON MESSAGE IS EXPANDING INSTEAD PLUS -->
                        Date
                    </div>


                    <div class="item item-button-right" ng-repeat="date in vm.event.dates" ng-show="isDateListShowen">
                        {{date | date}}
                        <button class="button button-positive">
                            <i class="icon ion-android-calendar" ></i>
                        </button>
                    </div>


                    <div menu-close class="item item-divider"ng-init="isLocationListShowen=FALSE"
                         ng-class="{active: isLocationListShowen}"
                         ng-click="isLocationListShowen = !isLocationListShowen">
                        <i class="icon" ng-class="isLocationListShowen ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;
                        Location: {{vm.event.location.address}}
                    </div>

                    <div class="item" ng-show="isLocationListShowen">

                        <ui-gmap-google-map options="vm.mapOptions" center="vm.mapCenter" zoom="vm.mapZoom">
                            <ui-gmap-marker coords="vm.mapMarker.location" idkey="0"></ui-gmap-marker>
                        </ui-gmap-google-map>


                        <!--TODO: MOVE OUT OF LOCATION DIV -->
                        <button ng-click="vm.navigate()"
                                class="button button-block button-positive button-rect"><i class="icon ion-navigate"></i> Take me there!
                        </button>

                    </div>

                    <div menu-close class="item item-divider" ng-init="isWhoListShowen=FALSE"
                         ng-class="{active: isWhoListShowen}"
                         ng-click="isWhoListShowen = !isWhoListShowen">
                        <i class="icon" ng-class="isWhoListShowen ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;

                        <!--TODO: DISPLAY NUMBER OF JOINED FRIENDS, ELSE DISPLAY AN "HAVEN'T JOINED YET" MESSAGE -->
                        <!--TODO: CLICK ON NUMBER\ICON IS EXPANDING INSTEAD PLUS -->
                        17 Are coming!
                    </div>



                    <div class="item item-button-right" ng-repeat="participant in vm.event.participants" ng-show="isWhoListShowen">

                        {{participant}}


                    </div>
                </ion-content>
            </ion-view>

        </ion-tab>

        <ion-tab title="Chat" on-select="vm.onChatSelected()" icon="ion-android-chat">

            <ion-content class="content-stable" delegate-handle="chatScroll">

                <div class="chat">

                    <div ng-repeat="message in vm.event.messages"
                         ng-class="{other: message.user.id != vm.user.id}"
                         class="messages">


                        <div class="message" ng-class="{'slide-right': hideTime}">
                            <span>{{ message.message }}</span>
                            <span>{{ message.user.name }}</span>
                        </div>

                        <div class="time">{{ message.timestamp | date:'h:mm:ss' }}</div>


                    </div>

                </div>

            </ion-content>

            <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Type your message"
                           ng-enter="vm.sendMessage(chatMessage); chatMessage = ''; closeKeyboard()"
                           ng-model="chatMessage"
                           on-focus="inputUp()"
                           on-blur="inputDown()"/>

                </label>
                <button class="button button-clear" ng-click="vm.sendMessage(chatMessage); chatMessage = '';">
                    Send
                </button>
            </ion-footer-bar>

        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">

            <ion-view>
                <ion-content padding="false">
                    <div class="list">

                    <ion-toggle ng-model="vm.approved" toggle-class="toggle-positive">Are you going?</ion-toggle>

                    <ion-toggle ng-model="vm.kosher" toggle-class="toggle-positive">Are you eating kosher?</ion-toggle>
                    </div>


                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
