<ion-view title="Events">

    <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon" ng-click="vm.popover.show($event)"> <i class="icon ion-android-more-vertical"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-header="true" padding="false">

        <div class="list">

            <a class="item item-avatar" ui-sref="event({id: event._id})" ng-repeat="event in vm.events">
                <img src="http://lorempixel.com/100/100/?1=32">
                <h2>{{event.name}}</h2>
                <p>
                    {{event.participants.length}} Participants
                </p>
            </a>

            <div class="item item-button-right" ng-hide="vm.events.length" ui-sref="create-event">
                <b>There are no events</b>
                <button class="button button-positive button-clear">
                    Create event
                </button>
            </div>

        </div>

    </ion-content>
</ion-view>