<ion-view view-title="Edit Profile">

    <ion-side-menus>

        <!-- Center content -->
        <ion-side-menu-content>

            <ion-nav-bar class="bar-positive">
                <ion-nav-back-button>
                </ion-nav-back-button>

                <ion-nav-buttons side="left">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">

            <ion-content has-bouncing="true">

                <img src="assets/img/login.png" class="image-responsive"/>


                <div class="list">


                    <a menu-close class="item item-icon-left item-icon-right" href="#/events">
                        <i class="icon ion-chatbubble-working"></i>
                        Events
                        <i class="icon ion-ios7-telephone-outline"></i>
                    </a>

                    <div menu-close class="item item-divider">
                        Account
                    </div>

                    <a menu-close class="item item-icon-left" ng-click="vm.redirect('profile')">
                        <i class="icon ion-person"></i>
                        Profile
                    </a>

                    <a menu-close class="item item-icon-left" ng-click="vm.logout()">
                        <i class="icon ion-log-out"></i>
                        Logout
                    </a>

                </div>
            </ion-content>

        </ion-side-menu>

    </ion-side-menus>
</ion-view>