<md-content>
    <md-card style="max-width: 500px;">
        <md-content flex class="md-padding">
            <form name="loginForm" novalidate>

                <md-input-container>
                    <label>Email</label>
                    <input md-maxlength="50" required name="email" type="email" ng-model="email">

                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required">This is required</div>
                        <div ng-message="email">Hey! this ain't no valid email</div>
                        <div ng-message="md-maxlength">Yo! needs to be less than 50 characters long</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" required ng-model="password">

                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">This is required</div>
                    </div>

                </md-input-container>

                <div layout="row">
                    <span flex></span>
                    <md-button ng-disabled="!loginForm.$valid" class="md-raised md-primary" ng-click="login()">
                        sign in
                    </md-button>
                </div>
            </form>

        </md-content>
    </md-card>

</md-content>
