<style>
    
</style>

<md-content>

    <md-card style="max-width: 500px;">

        <md-content >



            <md-content flex class="md-padding">


                <md-input-container>
                    <label>Username</label>
                    <input type="text" ng-model="username">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="password">
                </md-input-container>

                <div layout="row">

                    <span flex></span>

                    <md-button class="md-raised md-primary" ng-click="login()">
                        sign in
                    </md-button>

                </div>

            </md-content>

        </md-content>
    </md-card>


</md-content>
