@import "ionic-variables";


$color_cerulean_approx: #039be5;
$black_13: rgba(0, 0, 0, .13);
$white: #fff;
$color_snow_flurry_approx: #dcf8c6;

$black_45: rgba(0, 0, 0, .45);
$color_shark_approx: #262626;
$black_5: rgba(0, 0, 0, .05);
$black_30: rgba(0, 0, 0, .3);

$color_burning_orange_approx: #ff7043;
$color_swiss_coffee_approx: #e0dad6;

$font_0: Open Sans;
$font_1: sans-serif;

%message-base {
  border-radius: 7.5px;
  position: relative;
  max-width: 336px;
  box-shadow: 0 1px .5px $black_13;
}

%message-before {
  content: '';
  position: absolute;
  bottom: 3px;
  width: 12px;
  height: 19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.msg {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  margin-bottom: 9px;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  a {
    color: $color_cerulean_approx;
    text-decoration: underline;
  }
}

.message-meta {
  position: absolute;
  bottom: 3px;
  right: 8px;
  font-size: 11px;
  color: $black_45;
  line-height: 15px;
  height: 15px;
}

.message-in {
  @extend %message-base;
  background-color: $white;
  float: left;
  .bubble {
    padding-top: 5px !important;
  }
  &:before {
    left: -11px;
    @extend %message-before;
  }
}

.message-out {
  @extend %message-base;
  background-color: $color_snow_flurry_approx;
  float: right;
  &:before {
    @extend %message-before;
    right: -11px;
  }

}

.message {
  user-select: none;
  &:last-of-type {
    margin-bottom: 0;
  }
  .shade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28px;
    background: linear-gradient(to top, $black_30, transparent);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .message-text .message-content {
    cursor: text;
    user-select: text;
    white-space: pre-wrap;
  }
}

.message-author {
  font-family: $font_0, $font_1;
  font-size: 12.5px;
  line-height: 20px;
  height: 20px;
  font-weight: 600;
  margin-bottom: 1px;
  color: $color_burning_orange_approx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .content {

    position: relative;
    left: -3px;
  }
}

.bubble {
  padding: 8px;
}

.message-text {
  font-size: 13.6px;
  line-height: 19px;
  font-family: $font_0, $font_1;
  word-wrap: break-word;
  color: $color_shark_approx;
  position: relative;
  overflow: hidden;
  &::after {
    content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    display: inline;
  }
}

.message-divider {
  height: 0;
  border-bottom: 1px solid $black_5;
  margin: 6px 0;
  width: 25%;
}

.message-text-multi {
  position: relative;
  .message-meta {
    bottom: -5px !important;
    right: 0 !important;
  }
}

.pane-chat-body {
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  z-index: 100;
  padding: 0 5%;
  padding-start: 9%;
  padding-end: 9%;
}

.pane-chat {
  z-index: 5;
  background-color: $color_swiss_coffee_approx;
  background-size: cover;
  background-position: center center;
  align-self: flex-end;
}

.message-list {
  flex: 0 0 auto;
  margin-top: 12px;
}
