@charset "UTF-8";

$ionicons-font-path: '../../lib/ionic/release/fonts';

@import
  // Ionicons

"../../lib/ionic/scss/ionicons/ionicons.scss",

  // Variables
"../../lib/ionic/scss/mixins",
"ionic-variables",

  // Base
"../../lib/ionic/scss/reset",
"../../lib/ionic/scss/scaffolding",
"../../lib/ionic/scss/type",

  // Components
"../../lib/ionic/scss/action-sheet",
"../../lib/ionic/scss/backdrop",
"../../lib/ionic/scss/bar",
"../../lib/ionic/scss/tabs",
"../../lib/ionic/scss/menu",
"../../lib/ionic/scss/modal",
"../../lib/ionic/scss/popover",
"../../lib/ionic/scss/popup",
"../../lib/ionic/scss/loading",
"../../lib/ionic/scss/items",
"../../lib/ionic/scss/list",
"../../lib/ionic/scss/badge",
"../../lib/ionic/scss/slide-box",
"../../lib/ionic/scss/refresher",
"../../lib/ionic/scss/spinner",

  // Forms
"../../lib/ionic/scss/form",
"../../lib/ionic/scss/checkbox",
"../../lib/ionic/scss/toggle",
"../../lib/ionic/scss/radio",
"../../lib/ionic/scss/range",
"../../lib/ionic/scss/select",
"../../lib/ionic/scss/progress",

  // Buttons
"../../lib/ionic/scss/button",
"../../lib/ionic/scss/button-bar",

  // Util
"../../lib/ionic/scss/grid",
"../../lib/ionic/scss/util",
"../../lib/ionic/scss/platform",

  // Animations
"../../lib/ionic/scss/animations",
"../../lib/ionic/scss/transitions";


body{

  cursor: url('../img/finger.png'), auto;
}
