@import "ionic";
@import "pager";
@import "datepicker";
@import "images";
@import "event";
@import "chat";

.form-errors {

  .error {
    color: $assertive;
  }

  .success {
    color: $balanced;
  }
}

.push {
  &-near {
    margin-top: 10px;
  }

  &-far {
    margin-top: 20px;
  }
}

.popover {
  min-height: 80px;
  height: auto;
}

.angular-google-map-container {
  height: 400px;
}

.nav-view-workaround {
  min-height: 700px;
}

.item-title {
  padding-top: 0;
  margin-top: 0;
  padding-left: $padding-base-horizontal;
}

.line-0 {
  line-height: 0;
}

.item-no-padding {
  padding-left: 0;
  padding-right: 0;
}

.button-rect {
  border-radius: 0 !important;
}


.item{
  &.active
  {
    font-weight: 700;
    background: #eee;
  }
}


$button-medium-font-size:          14px !default;
$button-medium-height:             32px !default;
$button-medium-padding:            4px !default;
$button-medium-icon-size:          16px !default;


.button-medium {
  padding: 2px $button-medium-padding 1px;
  min-width: $button-medium-height;
  min-height: $button-medium-height + 2;
  font-size: $button-medium-font-size;
  line-height: $button-medium-height - $button-border-width - 1;

  .icon:before,
  &.icon:before,
  &.icon-left:before,
  &.icon-right:before {
    font-size: $button-small-icon-size;
    line-height: $button-small-icon-size + 3;
    margin-top: 3px;
  }
}