@import "ionic";
@import "pager";
@import "datepicker";
@import "images";
@import "event";
@import "chat";

.form-errors {

  .error {
    color: $assertive;
  }

  .success {
    color: $balanced;
  }
}

.push {
  &-near {
    margin-top: 10px;
  }

  &-far {
    margin-top: 20px;
  }
}

.popover {
  min-height: 80px;
  height: auto;
}

.angular-google-map-container {
  height: 400px;
}

.nav-view-workaround {
  min-height: 700px;
}

.item-title {
  padding-top: 0;
  margin-top: 0;
  padding-left: $padding-base-horizontal;
}

.line-0 {
  line-height: 0;
}

.item-no-padding {
  padding-left: 0;
  padding-right: 0;
}

.button-rect {
  border-radius: 0 !important;
}


.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

