@import "ionic";
@import "pager";
@import "images";

.pink {
  background-color: pink;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.image-responsive {
  width: 100%;
  height: auto;
}

.form-errors
{


  .error{
     color: $assertive;
  }

  .success{
     color: $balanced;
  }
}

.push
{
  &-near
  {
    margin-top: 10px;
  }

  &-far
  {
    margin-top: 20px;
  }
}