html {

}

$background: #ECECEC;

body {
  background-color: $background !important;
}

@media (min-width: 1000px) {

  body {
    box-shadow: inset 0 127px 0 #212121;
  }

  .layout {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

}

md-content {
  background: transparent !important;
}

.layout {
  background: $background !important;

}

md-card {
  background: #fff !important;
  margin:0;
  border-radius: 0  !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}

md-toolbar {
  box-shadow: none !important;
}

.layout {
  max-width: 1200px;
}

.md-caption{
  color: #999;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 0.1em;
  display: block;
}

.md-tab-content{
  padding-bottom: 5px;
}


