
<script type="text/ng-template" id="searchbox.tpl.html">

    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
        </label>
    </div>

</script>

<ion-view title="Events" left-buttons="vm.leftButtons">
    <ion-header-bar class="bar-royal">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Home</h1>
    </ion-header-bar>

    <ion-content has-header="true" has-bouncing="true" padding="true">

        <a class="button button-outline button-royal" ng-click="vm.createEvent()">Create Event</a>
        <a class="button button-outline button-royal" href="tel:0544554495">Test</a>
        <a class="button button-outline button-royal" href="tel:0544554495">Test</a>


        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>

                <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" ></ion-google-place>


            </label>
        </div>

        <button class="button button-block" ng-click="vm.useCurrentLocation()">Use Current Location</button>

        <div ng-repeat="marker in vm.markers">
            {{marker}}
        </div>

        <ui-gmap-google-map events="vm.mapEvents" center="vm.mapCenter" zoom="vm.mapZoom" >

            <ui-gmap-marker coords="vm.selectionMarker.location" options="vm.selectionMarker.options" idkey="0"></ui-gmap-marker>

        </ui-gmap-google-map>

    </ion-content>
</ion-view>