<ion-view view-title="Edit Profile">

    <ion-nav-bar class="bar-calm" animation="nav-title-slide-ios7">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon" ng-click="vm.popover.show($event)"> <i class="icon ion-android-more-vertical"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>

        <div class="image-profile">

            <img src="assets/img/profile.png" class="image-responsive"/>
        </div>

        <div class="padding">

            <form name="profileForm" novalidate="" ng-submit="vm.update(profileForm.$valid)">

                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">
                            Your Phone
                        </span>
                        <span class="input-label">
                            {{ vm.phone }}
                        </span>
                    </label>


                    <label class="item item-input">
                        <span class="input-label">
                            Nick name

                            <div class="form-errors" ng-show="profileForm.$submitted || profileForm.nickname.$touched" ng-messages="profileForm.nickname.$error">
                                <p class="error" ng-message="required">required</p>
                            </div>

                        </span>
                        <input type="text" name="nickname" ng-model="vm.nickname" required maxlength="20">
                    </label>

                    <div class="push-far">
                        <ion-toggle ng-model="vm.changePassword" toggle-class="toggle-calm" ng-click="vm.password = ''; vm.passwordConfirm = ''">Change Password?</ion-toggle>
                    </div>

                    <div ng-if="vm.changePassword">

                        <label class="item item-input">
                            <span class="input-label">
                                Password
                                <div class="form-errors" ng-show="profileForm.$submitted || profileForm.password.$touched" ng-messages="profileForm.password.$error">
                                    <p class="error" ng-message="required">required</p>
                                </div>
                            </span>
                            <input type="password" ng-model="vm.password" name="password" ng-required="vm.changePassword">

                        </label>


                        <label class="item item-input">
                            <span class="input-label">
                                Confirm Password

                                <div class="form-errors" ng-show="profileForm.$submitted || profileForm.confirmPassword.$touched" ng-messages="profileForm.confirmPassword.$error">
                                    <p class="error" ng-message="required">required</p>

                                    <p class="error" ng-message="match">passwords don't match</p>
                                </div>

                            </span>
                            <input type="password" ng-model="vm.passwordConfirm" name="confirmPassword" ng-required="vm.changePassword" match="vm.password">
                        </label>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="button button-block button-outline button-stable" ng-click="vm.cancel()">Cancel</button>
                    </div>
                    <div class="col">
                        <button class="button button-block button-calm" type="submit">Update</button>
                    </div>
                </div>
            </form>


        </div>


    </ion-content>
</ion-view>