<div layout="column" flex class="layout" id="layout">

    <md-content layout="column" flex>

        <md-sidenav class="md-whiteframe-z2" md-component-id="left">

            <md-toolbar layout="row" class="main-toolbar">
                <div class="md-toolbar-tools">

                    <md-button class="menu" ng-click="shell.toggleSideMenu()" aria-label="Show menu">
                        <md-icon class="mdi-close"></md-icon>
                    </md-button>

                    <span>Close</span>

                </div>

            </md-toolbar>


            <md-subheader>3 line item</md-subheader>

            <md-list layout="column">
                <md-list-item>
                    <md-button layout="row" class="md-primary" href ng-click="shell.redirect('events')">
                        <md-content class="md-padding" flex layout="row">
                            <span>Events</span>
                            <span flex></span>
                            <md-icon class="mdi-event"></md-icon>
                        </md-content>
                    </md-button>
                </md-list-item>

                <md-list-item>
                    <md-button layout="row" class="md-primary" href ng-click="shell.redirect('messages')">
                        <md-content class="md-padding" flex layout="row">
                            <span>messages</span>
                            <span flex></span>
                            <md-icon class="mdi-message"></md-icon>
                        </md-content>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-toolbar layout="row" class="main-toolbar">
            <div class="md-toolbar-tools">

                <md-button class="menu" ng-click="shell.toggleSideMenu()" aria-label="Show menu">
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>

                <span>Amigos</span>
                <!-- fill up the space between left and right area -->
                <span flex></span>

                <md-button ng-click="shell.login()">
                    Login
                </md-button>
            </div>

        </md-toolbar>


        <md-content layout="column" flex>
            <md-progress-linear ng-if="shell.loading" md-mode="indeterminate"></md-progress-linear>

            <md-content ng-view layout="column" flex></md-content>
        </md-content>
    </md-content>

</div>